@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&family=Signika+Negative:wght@300..700&display=swap");

.font-signika {
  font-family: "Signika Negative", sans-serif;
}
.signika-negative-hero {
  font-family: "Asap", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.font-signika {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}
